/* Add this to your global CSS or styles file */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal overflow if needed */
    background-color: 161513;
  }
  
  .drawer-button {
    margin: 0; /* Ensure no margin is applied */
  }
  
  